.App-header{
    padding: 0 20px;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    top: 0;
    z-index: 100;
    left: 0;
    padding: var(--main-padding);
}
.App-header .left{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.App-header .left img{
    width: 40px;
    height: 40px;
}
.App-header .left h1{
    font-size: 1.5rem;
}
.App-header .right{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.App-header .right a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}
.App-header .right a:hover{
    color: #61dafb;
}